body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#map {
    height: 100vh;
    width: 100%;
}

#navigate-button {
    border: none;
    width: 60%;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
}

.container {
    margin-top: 1px;
    border: 3px solid rgb(73, 88, 221);
}

.img-marker {
    height: 55px;
    width: 55px;
}
